<a href="https://colab.research.google.com/github/ykkimhgu/DLIP-src/blob/main/Tutorial_PythonBasics_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics 
We will use the Python and Numpy for Deep Learning assignments in this course. 

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

This tutorial is created from various references

1) Python Numpy Tutorial by CS231n : https://cs231n.github.io/python-numpy-tutorial/
2) https://www.w3schools.com/python/
3) A Crash Course in Python for Scientists by  Rick Muller:  https://nbviewer.jupyter.org/gist/rpmuller/5920182#ii.-numpy-and-scipy

## Python Versions
We will use Python 3.7, follow how to install Python in the course website.

# Python Indentation
Python uses indentation to indicate a block of code.

In [1]:
# This gives no error

if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
# This will give errors. Correct this.

if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

#  Data Types
Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

## Numeric and Text Types

In [7]:
# Try it 

x = "Hello World"
y = 5
z = -87.7e100

#display x:
print(x)
print(y)
print(z)

#display the data type of x:
print(type(x)) 
print(type(y)) 
print(type(z))

Hello World
5
-8.77e+101
<class 'str'>
<class 'int'>
<class 'float'>

## Number operations
familiar from other programming languages.
* Python does not have unary increment (x++) or decrement (x--) operators.

In [13]:
x = 3
print(x + 1)   # Addition; prints "4"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"
x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"

y = 4
print(y, y + 1, y * 2, y ** 2)

4
6
9
4
8
4 5 8 16

## String Operations

use either 'text' or "text".

In [17]:
hello = 'hello'    # String literals can use single quotes
world = "world"    # or double quotes; it does not matter.
year=2021

print(hello)       # Prints "hello"
print(len(hello))  # String length; prints "5"

hw = hello + ' ' + world + ' '+str(year)  # String concatenation
print(hw)  # prints "hello world"

hw2021 = '%s %s %d' %(hello, world, year)  # sprintf style string formatting
print(hw2021)  # prints "hello world 12"

hello
5
hello world 2021
hello world 2021

### Convert Types  
Int <--> float   /  Int <--> String

In [10]:
# Convert from int to float:

x = 5
y = 2.8  
z = "3.8"

a = float(x)
b = int(y)
c = float(z)
d = str(y)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

5.0
2
3.8
2.8
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>

# Containers
Python includes several built-in container types: lists, dictionaries, sets, and tuples.
* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Dictionary** is a collection which is ordered* and changeable. No duplicate members. (from Py 3.7)
* **Set** is a collection which is unordered and unindexed. No duplicate members.

### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

## Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

* Lists are created using **square brackets**:

    mylist = ["apple", "banana", "cherry"]

List items are **ordered**, **changeable**, and allow **duplicate values.**

In [18]:
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

print(len(thislist))


# A list can contain different data types:

list1 = ["abc", 34, True, 40, "male"]

print(list1)

print(len(list1))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5
['abc', 34, True, 40, 'male']
5

### Accessing and Changing Lists

Note: The range  will start at index St (included) and end at index En (**not included**).  (thislist[St:En]).

Also, remember that the first item has index 0.

In [19]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist[1])

# -1 refers to the last item
print(thislist[-1])

# change element
thislist[0]="melon" 

# range of lists
print(thislist[0:2])

banana
cherry
['melon', 'banana']

What output will these give? Try it yourself

print(thislist[:4])

print(thislist[2:])

print(thislist[-2:-1])

In [ ]:
#print(thislist[:4])
#print(thislist[2:])
#print(thislist[-2:-1])

## Dictionary
A dictionary is a collection which is ordered*, changeable and does not allow duplicates.


A dictionary stores (key : value) pairs.

Dictionaries are written with **curly brackets**, and have keys and values:

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
print(len(thisdict))
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
Ford

The values in dictionary items can be of any data type:

In [30]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)
print(len(thisdict))
print(thisdict["colors"])

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
4
['red', 'white', 'blue']

Items can be added.

In [31]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

thisdict["type"] = "van"
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'color': 'red'}

## Tuple

A tuple is a collection which is ordered and **unchangeable**.

Tuples are written with **round** brackets.

In [32]:
# Try it 

x = ("apple", "banana", "cherry")

#display x:
print(x)
#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
# Chaning a Tuple will cause error


x = ("apple", "banana", "cherry")
x[0]="melon" 
print(x)

one of the most important differences is that tuples can be used as **keys** in dictionaries and as elements of sets, while *lists cannot*

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)        # Create a tuple

print(d)  
print(type(t))    # Prints "<class 'tuple'>"
print(d[t])       # Prints "5"
print(d[(1, 2)])  # Prints "1"

## Sets

A set is a collection which is both **unordered** and **unindexed**.

Sets are written with **curly** brackets, like Dictionary but no key:value.

In [35]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

thisset.add('melon') 
print(thisset)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry', 'melon'}

# Loop

## Python For Loops

This is less like the for keyword in other programming languages, and works more like an iterator method

In [ ]:
fruits = ["apple", "banana", "cherry"]
adj = ["red", "big", "tasty"]

for x in fruits:
  print(x)
  if x == "banana":
    break


for x in adj:
  for y in fruits:
    print(x, y)

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

print("\n")
for x in range(2, 30, 3):
  print(x)

print("\n")
for x in [-1, 0, 1]:
  print(x*x)

Else in For Loop

In [ ]:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

Loop in Dictionary

In [41]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)
print(len(thisdict))
print(thisdict["colors"])

for car in thisdict:
    values = thisdict[car]
    print('This car  %s is %s ' % (car, values))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
4
['red', 'white', 'blue']
This car  brand is Ford
This car  electric is False
This car  year is 1964
This car  colors is ['red', 'white', 'blue']

## Exercise

Loop over this dictionary to print 

"A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

In [ ]:
anim = ['cat', 'dog', 'monkey']
d = {'person': 2, 'cat': 4, 'spider': 8}

# Prints Dict Loops
#for animal in d:
#    legs = d[animal]
#    print('A %s has %d legs' % (animal, legs))

# Prints List Loops
for animal in anim:
    print(animal)

# Functions

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))
# Prints "negative", "zero", "positive"

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', loud=True)  # Prints "HELLO, FRED!"

## Exercise

Create a function that prints a list

# Classes

In [ ]:
class Greeter(object):

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"